<div class="login-container" *ngIf="!loggedIn">
  <h2>Welcome to OnTime personal schedule manager</h2>
  <h3>Login or add sign in info to save calendar events</h3>
  <form [formGroup]="loginForm" (submit)="submit()">
    <mat-form-field class="form-field" appearance="outline">
      <mat-label> Username </mat-label>
      <input matInput formControlName="username" required />
      <mat-error
        *ngIf="
          loginForm.controls.username.touched &&
          loginForm.controls.username.invalid
        "
      >
        <span *ngIf="loginForm.controls.username.errors.required"
          >Username is required.</span
        >
      </mat-error>
    </mat-form-field>
    <br />
    <mat-form-field class="form-field" appearance="outline">
      <mat-label> Password </mat-label>
      <input matInput formControlName="password" type="password" />
      <mat-error
        *ngIf="
          loginForm.controls.password.touched &&
          loginForm.controls.password.invalid
        "
      >
        <span *ngIf="loginForm.controls.password.errors.required"
          >Password is required.</span
        >
      </mat-error>
    </mat-form-field>
    <br />
    <button mat-raised-button color="primary" type="submit">Log In</button>
  </form>
</div>
<app-calender-view
  *ngIf="loggedIn"
  [calendarEvents]="calendarEvents"
></app-calender-view>
